<h3><%= notice %></h3>
<% if logged_in? %>
  <%= render 'form' %>
<% end %>

<h1>Feed一覧</h1>
<% @feeds.each do |feed| %>    
  <span class="image"><%= link_to image_tag(feed.image), feed_path(feed.id) %></span>
<% end %>