<h3><%= notice %></h3>


<div class="container form">
  <div class="row">
    <% if logged_in? %>
      
        <%= render 'form' %>
      
    <% else %>
      <h4>ユーザー登録してFEEDを投稿しましょう！</h4><br>
    <% end %>
  </div>
</div>

<div class="index-parent">
  <div class="index">
    <% @feeds.each do |feed| %> 
      <span class="image"><%= link_to image_tag(feed.image.url), feed_path(feed.id) %></span>
    <% end %>
  </div>
</div>