<h3><%= notice %></h3>


<div class="container form">
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2">
      <% if logged_in? %>
        <%= render 'form' %>
      <% end %>
    </div>
  </div>  
</div>


<div class="index-parent">
  <div class="index">
    <% @feeds.each do |feed| %> 
      <span class="image"><%= link_to image_tag(feed.image.url), feed_path(feed.id) %></span>
    <% end %>
  </div>
</div>